@include("admin.includes.header")

      <!-- Content Body Start -->
      <div class="content-body">
        <!-- Page Headings Start -->
        <div class="row justify-content-between align-items-center mb-10">
          <!-- Page Heading Start -->
          <div class="col-12 col-lg-auto mb-20">
            <div class="page-heading">
              <h3 class="title">کاربر <span>/ اضافه کاربر جدید</span></h3>
            </div>
          </div>
          <!-- Page Heading End -->

          <!-- Page Button Group End -->
        </div>
        <!-- Page Headings End -->

        <div class="row mbn-30">
          <!-- Revenue Statistics Chart Start -->
          <div class="col-md-12 mb-30">
            <div class="box">
              <div class="box-head">
                <div class="row">
                  <h4 class="title">اطلاعات کاربر</h4>
                </div>
              </div>
              <div class="box-body">
                <form>
                  <div class="row mbn-20">
                    <div class="col-6 mb-20">
                      <input type="text" id="formLayoutUsername3" class="form-control" placeholder="نام و نام خانوادگی" />
                    </div>
                    <div class="col-6 mb-20">
                      <input type="email" id="formLayoutEmail3" class="form-control" placeholder="ایمیل" />
                    </div>

                    <div class="col-6 mb-20">
                      <input type="email" id="formLayoutEmail3" class="form-control" placeholder="تاریخ عضویت" />
                    </div>

                    <div class="col-12 mb-20">
                      <h5 class="sub-title">نقش</h5>
                      <div class="adomx-checkbox-radio-group">
                        <label class="adomx-radio-2"><input type="radio" name="adomxRadio2"><i class="icon"></i>ادمین</label>
                        <label class="adomx-radio-2"><input type="radio" name="adomxRadio2"><i class="icon"></i>کاربر</label>
                    </div>
                    </div>

                    <div class="col-12 mb-20">
                      <input type="submit" value="ذخیره سازی" class="button button-primary" />
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- Revenue Statistics Chart End -->
        </div>
      </div>
      <!-- Content Body End -->

@include("admin.includes.footer")